.coming-soon{
    position: relative;
    overflow: hidden;

    width:100%;
    padding:50px 30px;

    border-radius:20px;

    background:#111827;

    border:1px solid rgba(255,123,0,.35);

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;

    animation:showCard .8s ease;
}

.coming-soon::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    radial-gradient(circle at 20% 30%,rgba(255,123,0,.12),transparent 30%),
    radial-gradient(circle at 80% 70%,rgba(255,123,0,.08),transparent 35%);

    animation:moveBg 8s linear infinite;
}

.warning-icon{

    font-size:70px;

    animation:float 2s ease-in-out infinite;
}

.coming-soon h2{

    margin-top:20px;

    color:var(--accent-color);

    font-size:34px;
}

.coming-soon p{

    margin-top:15px;

    max-width:550px;

    color:var(--text-secondary);

    line-height:1.8;
}

.loading-line{

    width:220px;

    height:5px;

    border-radius:999px;

    margin-top:35px;

    background:#1f2937;

    overflow:hidden;
}

.loading-line::before{

    content:"";

    display:block;

    width:40%;

    height:100%;

    background:var(--accent-color);

    animation:loading 1.8s infinite;
}